body{
    background-color: lightblue;
    font: normal 15pt Arial ;
    text-align: center;
}
header{
    text-decoration: underline;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    text-align: left;
}
form{
    padding: 10px 0;
}
footer{
    font-size: 0.8em;
    color: white;
    text-shadow: 1px 1px 1px black;
}